@charset "UTF-8";

#outerContainer {
    max-width: 95%;
    margin: 0 auto;
    background-color: #aeaeae;
    text-align: center;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.001em;
    padding-top: 1em;
}

#container {
    height: 75vh;
    margin: 0 auto;
    background-color: #98e9f2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 7px;
    touch-action: none;
    position: relative;
    flex-wrap: wrap;
    margin: 0.5em;                  
  }

header p {
    display: inline;  
}

h2 {
    display: inline;
    position: relative;
    top: 10%;
    background-color: #fff;
    border: 1px solid black;
    padding: 0.2em;
    
}

#container p {
    display: flex;
    padding: 0.2em 1em;
    background-color: #f2f2f2;
    border: 1.4px solid black;
    margin: 0 0.1em;
    position: relative;
    top: 40%;
    text-transform: lowercase;
    flex-wrap: wrap;
}

#container p:hover {
cursor: move;
}

#buttons {
background-color: #ccc;
display: inline;
/* position: absolute; */
padding: 1em;
}

form {
padding: 1em;
display: inline;
background-color: rgb(126, 126, 126);

}

button {
    font-size: 1.2em;
    border: none;
    color: #fff;
    padding: 0.1em 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0.2em;
    
}
button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

#happybutton {
    background-color: #9b9bf2;
}

#sadbutton {
    background-color: darkslategray;
}

#funnybutton {
    background-color: rgb(249, 243, 91);
    color: rgb(70, 70, 70);
}

footer {
    text-align:center;
    font-style: italic;
    color: #ccc;
}

@media only screen and (max-width: 600px) {
    #container p {
        font-size: 0.5em;
    }
  }